.right-bar{
    -fx-background-color: #D3D3D3;
}

.top-bar{
    -fx-background-color: #dfe4ea;
}

.btn {
    /* -fx-padding: 8 15 15 15; */
    -fx-padding: 4 7 7 7;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
        #9d4024,
        #d86e3a,
        radial-gradient(center 50% 50%, radius 100%, #d86e3a, #c54e2c);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
}
.btn:hover {
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
        #9d4024,
        #d86e3a,
        radial-gradient(center 50% 50%, radius 100%, #ea7f4b, #c54e2c);
}
.btn:pressed {
    /* -fx-padding: 10 15 13 15; */
    -fx-padding: 5 7 6 7;
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}


.keyword-item{
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 30;
    -fx-border-color: black ;
    -fx-border-width: 2 ;
    -fx-border-radius: 20;
    -fx-border-style: solid ;
    }
}

.choiceBox{
    -fx-background-radius: 30;
}

.button-raised{
    -fx-padding: 4 7 7 7;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color:
        linear-gradient(from 0% 93% to 0% 100%, #1531a3 0%, #122987 100%),
        #253fa8,
        #3857d6,
        radial-gradient(center 50% 50%, radius 100%, #3857d6, #2b48c2);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );

    -fx-font-size: 14px;
    -jfx-button-type: RAISED;


    -fx-text-fill: WHITE;
}

.button-raised:hover {
    -fx-background-color:
        linear-gradient(from 0% 93% to 0% 100%, #1531a3 0%, #122987 100%),
        #253fa8,
        #3857d6,
        radial-gradient(center 50% 50%, radius 100%, #4d6ae8, #2b48c2);
}
.button-raised:pressed {
    /* -fx-padding: 10 15 13 15; */
    -fx-padding: 5 7 6 7;
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}


.button-raised123{

    -fx-padding: 0.7em 0.57em;
    -fx-font-size: 14px;
    -jfx-button-type: RAISED;
    -fx-background-color: rgb(77,102,204);

    -fx-text-fill: WHITE;
}

.validation-error{
    -fx-border-color: #e00640
}